body

{
    text-align: center; color:fuchsia; font-weight: bolder;  font-size: xx-large; font-stretch: initial ; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; ;
    
}



